@import "~bootstrap/scss/bootstrap";
html{
    background-color: #04080F;
    padding: 1%;
    font-family: Roboto, sans-serif;
}

P{
    text-align: center;
    font-family: Roboto, sans-serif;
}

.page{
    background-color: #456990;
    color:white;
    border-color: #F5B82E;
    border-width : 2px ;
    border-style: solid;
    height: 90vh;
    text-align: center;
}

.content{
    margin: 3%;
    border-color: #F5B82E;
    border-width : 2px ;
    border-style: solid;
    height: 80vh;
}

.intro{
    margin-top: 2% ;
    padding-bottom:3%;

}

.intro h1{
    text-shadow: 0 0 0.2em #F5B82E;
}